<!DOCTYPE html>
<html>
  <head>
    <title>AHRON</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Outline|Pacifico|Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
    <a href = '/'>AHRON</a>
    <a href="/auth/google" class = "logger"><i class="material-icons left">vpn_key</i> Log In</a>
    </nav>
    
<h4 id = "closet-header"><%= closet.name.toLowerCase() %></h4>
<h3 class = "center"><%= closet.description.toLowerCase() %></h3>

<div class = "three-column">
        <% if (outfits){ %>
        <% outfits.forEach(function(o){ %>
            <div class = "outfit" >
                <img src = "<%= o.imageURL %>"></img>
                <p class = "outfit-caption"><%= o.description %></p>
            </div>  
        <% }) %>
        <% } %>
    </div>

<%- include('../partials/footer') %>
