<%- include('../partials/header') %>

<h4 class = "center">check out these closets</h4>
<br>
<form  class = "search-form" action = "/closets" method="GET">
    <input class = "search-input" type = "search" name = "searchname" value = "<%= searchname %>"
 autocomplete = "off">
 <button type = "submit" class = "search">search</button>
</form>
<br><br>
<div class = "three-column">
<% closets.forEach(function(c){ %>
    <div class = "browser-view">
    <a class = "browser-heading" href = "closets/<%= c._id %>"><%= c.name %></a>
    <h3 class = "browser-description"><%= c.description %></h3>
    </div>
<% }) %>
</div>
<%- include('../partials/footer') %>