<%- include('../partials/header') %>

<h4 id = "closet-header"><%= closet.name %></h4>
<h3 class = "center"><%= closet.description %></h3>

<div class = "three-column">
    <% if (outfits){ %>
    <% outfits.forEach(function(o){ %>
        <div class = "outfit" >
                <form class = "delete-form" action = "outfit/<%=o._id%>?_method=DELETE" method = "POST">
                    <button name = "_method" type = "submit" class = "outfit-delete">X</button>
                </form>
            <img src = "<%= o.imageURL %>"></img>
            <p class = "outfit-caption"><%= o.description %></p>
        </div>  
    <% }) %>
    <% } %>
    <form class = "outfit" class = "create" action = "<%= closet._id %>/outfit" method = "POST" enctype="multipart/form-data">
        <h4 id = "outfit-header" class = "form-header">new outfit</h4>
        <div class =  "file-upload">
        <label>
        <input type = "file" name = "imageURL"  autocomplete="off"><br>
        <span class = "file-upload-label">upload image</span>
        </label>
        </div><br><br>
        <label>description:</label><br>
        <input class = "outfit-input" type = "text" name = "description"  autocomplete="off"><br>
        <label>brands(optional):</label><br>
        <input class = "outfit-input" type = "text" name = "brands"  autocomplete="off">
        <br><br>
        <button type = "submit" class = "add">add outfit</button>
    </form>
</div>


<%- include('../partials/footer') %>