<%- include('../partials/header') %>

<div id = "greeting">
<div>
<% var d = new Date () %>
<% let t = d.getHours() %>
<% if (t < 12) { %>
  <h6>good morning <%=user.name.toLowerCase()%>!</h6>
<% } else if ((t >= 12) && (t < 17)){ %>
  <h6> good afternoon <%=user.name.toLowerCase()%>!</h6>
<% } else { %>
  <h6>good evening <%=user.name.toLowerCase()%>!</h6>
<% } %> 
<br>
<form action = "closets/new" method = "GET">
    <button type = "submit" class = "add">add new closet</button>
</form>
<br>
<form action = "/closets" method = "GET">
    <button type = "submit" class = "add">browse all closets</button>
</form>
<br>
<form action = "/home?_method=PUT" method = "POST" ">
    <button type = "submit" class = "add">update profile</button>
</form>
</div>
<div id = "zip">
<form id = "zip-form"  action = "/home?_method=PUT" method = "POST" > 
    <input class = "search-input" type = "text" autocomplete = "off" name = "location" placeholder = "input zip code for local weather">
    <button class = "search" type = "submit">enter</button>
</form>
<form  class = "search-form" action = "/closets" method="GET">
    <input class = "search-input" type = "search" name = "searchname" placeholder="search your closets"
 autocomplete = "off">
 <button type = "submit" class = "search">search</button>
</form>
</div>
</div> 
<% if (user.closets.length){ %>
    <br></br>
    <h4>your closets</h4>
    <div class = "three-column">
        <% user.closets.forEach(function(c){ %>
            <div class = "images">
                <form class = "delete-form" action = "closets/<%=c._id%>?_method=DELETE" method = "POST">
                    <button name = "_method" type = "submit" class = "delete">X</button>
                </form>
                <a class = "closet-name" href = "closets/<%= c._id %>"> <%= c.name %> </a>
                <p class = "caption"><%= c.description %></p>
            </div>
        <% }) %>
    </div>    
<% } else { %>
    <br><br>
    <div class = "add-message">
        <p>uh oh! looks like you haven't created any closets yet!</p>
    </div>
<% } %>
</div>

<%- include('../partials/footer') %>
